#root {
  line-height: 1.5;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system-ui !important;
  background-color: #D8DAD3;
min-height: 100vh;
}

h1 {
  font-size: 4rem;
  color: #566246;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 14vh;
  margin-bottom: 1rem;
  width: 100%;
  padding: 2rem;
  padding-top: 4rem;
}

form {
  max-width: 100%;
  min-height: auto;

}

#fieldset {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width:100%;
  
}

#taskInput {
  padding: 5px;
  border: 1px solid #566246;
  border-radius: 5px;
  color: #566246;
  min-width: 85%!important;
  font-size: 2rem;
  border: 1px solid silver;
}

input:focus {
  outline: none;
}

input:hover {
  box-shadow: 0 0 5px gray;
}

button {
  background-color:#566246;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
#addButton{
width:10rem;
}

button:hover {
  background-color: #566246;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin: 2rem 0rem;
  min-height: 70%;

}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.2rem;
  padding-left: 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  height: 3rem;
  background-color: #eee;
  color: #FE572F;
  font-weight: 500;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  position:relative;
}
span{
  align-self: center;
}
li:hover {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.remover{
  position:absolute;
  right:0.5rem;
  top:0;
  bottom:0;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
  padding: 2rem;
  color: #566246;
  font-weight: 600;
  font-size: 1.5rem;
  height: 2.5rem;
  background-color: #D8DAD3;
  padding: 10px;
  height: 9vh;
}

/**cambia color */
.cambiaColor {
  position: absolute;
  right: 2rem;
  top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: fit-content;
  align-self: center;

}

.light {
  background-color: #D8DAD3!important;
  color: #000000!important; /* Texto negro */
}
h1.light{
  color: #566246;

}
.dark {
  background-color: #4A4A48!important;
  color: #F1F2EB!important;
  font-family: system-ui !important;
}
footer.dark{
  background-color: #4A4A48!important;
  color: #F1F2EB!important;
}


footer.light{
  background-color: #D8DAD3!important;
    color: #566246;
}
